<!DOCTYPE html>
<!--suppress ThymeleafVariablesResolveInspection -->
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>LearnCenter - Страница администратора</title>
</head>
<body>
    <div th:insert="header :: user_header"></div>
    <h1>Администрируемые курсы</h1>
    <div th:object="${user}">
        <ul th:each="course: *{courses}">
            <li><a th:href="@{/course/show(id=${course.id})}">[[${course.description}]]</a></li>
        </ul>
    </div>
    <form th:action="@{/course/create(adminId=${user.id})}" method="post">
        <input type="submit" value="Создать курс"/>
    </form>
</body>
</html>