<!DOCTYPE html>
<!--suppress ThymeleafVariablesResolveInspection -->
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>LearnCenter - Список курсов</title>
</head>
<body>
    <div th:insert="header :: (${#httpServletRequest.remoteUser} ? user_header : header)"></div>
    <h1>Поиск курсов</h1>
    <form th:action="@{/courses}" method=post>
        <div>
            <label>Название курса для поиска: </label>
            <input type="search" name="query">
            <input type="submit" value="Найти">
        </div>
    </form>

    <ul th:each="course: ${allCourses}">
        <li><a th:href="@{/course/show(id=${course.id})}">[[${course.description}]]</a></li>
    </ul>
</body>
</html>